{% extends 'orders/base.html' %}
{% load static %}

{% block title %}Central Supplies | {{ title }}{% endblock %}

{% block header %}
  {% include 'central_supplies/includes/header.html' %}
{% endblock %}

{% block content %}
<div class="row p-2">
  <div class="col-lg-9"> 
  <h2>{{ title }}</h2>   
    
    <div class="text-center">
      <div class="order-info">
      <h3>Your order:</h3>
      <ul>
        {% for item in cart %}
        <li>          
          {{ item.quantity }}x {{ item.product.name }}
          <span>${{ item.total_price }}</span>
        </li>      
        {% endfor %}
      </ul>  
      <p>Total: ${{ cart.get_total_price }}</p>
    </div>
    <form action="." method="post" class="order-form">
      {{ form.as_p }}
      <p><input type="submit" class="btn btn-primary btn-block mb-4" value="Place order" /></p>
      {% csrf_token %}
    </form>  
    </div>

  </div>
  {% include 'central_supplies/includes/sidebar.html' %}
</div>
{% endblock %}

