{% extends 'orders/base.html' %}
{% load static %}

{% block title %}Central Supplies | {{ title }}{% endblock %}

{% block header %}
  {% include 'central_supplies/includes/header.html' %}
{% endblock %}

{% block content %}  
  <div class="row p-2">
  <div class="col-lg-9">
    <h2>{{ title }}</h2>
    <div class="text-center">
      <p>Your order has been successfully completed. Your order number is
    <strong>{{ order.id }}</strong>.</p>  
    </div>
  
  </div>
  {% include 'central_supplies/includes/sidebar.html' %}
  </div>
{% endblock %}

